<section id="skills" class="light">
  <div class="bg"></div>
  <div class="wrapper">
    <h2>My Skills 🍳</h2>
    <p class="main-text small">I mainly use the folowing technologies based on HTML, CSS, PHP and JavaScript to develop my websites :</p>
    <div class="content">
      <div class="items">
        <div class="item" id="skill-drupal" data-aos="fade-up" data-aos-once="true">
          <div class="logo shade"><img src="/assets/images/shared/drupal_icon.svg" alt=""></div>
          <div class="title">Drupal 8 for an easy content managment</div>
        </div>
        <div class="item" id="skill-nodejs" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
          <div class="logo shade"><img src="/assets/images/shared/nodejs_icon.svg" alt=""></div>
          <div class="title">NodeJS for ultra fast APIs</div>
        </div>
        <div class="item" id="skill-angular" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
          <div class="logo shade"><img src="/assets/images/shared/angular_icon.svg" alt=""></div>
          <div class="title">Angular for a fluid user experience</div>
        </div>
      </div>
      <div class="description" data-aos="fade-in" data-aos-once="true" data-aos-offset="0" data-aos-delay="600">
        <p class="main-text small">And dome other everyday tools :</p>
        <p class="main-text small">MYSQL - MongoDB - Github - jQuery - Grunt - Gulp - Sass</p>
      </div>
    </div>
  </div>
</section>
