<section id="portfolio" class="light">
  <div class="wrapper">
    <h2>Freelance Portfolio 💼</h2>
    <p class="main-text small">This is the list of projects i’ve made as Freelance only. Please go to the Experience section to know more about my work !</p>
    <div class="items">
      <a href="http://noelsolidaire.avh.asso.fr/" target="_blank" class="item">
        <div class="shade">
          <div class="logo">
            <img src="/assets/images/shared/valentin_hauy.png" alt="">
          </div>
          <div class="description">
            <p class="main-text small">Landing page made from scratch</p>
          </div>
        </div>
      </a>
      <a href="http://noelle-eiferman.com/" target="_blank" class="item">
        <div class="shade">
          <div class="logo">
            <img src="/assets/images/shared/noelle_eifferman.png" alt="">
          </div>
          <div class="description">
            <p class="main-text small">Landing page made from scratch</p>
          </div>
        </div>
      </a>
      <a href="http://touchezterre.fr/" target="_blank" class="item">
        <div class="shade">
          <div class="logo">
            <img src="/assets/images/shared/touchez_terre.png" alt="">
          </div>
          <div class="description">
            <p class="main-text small">Landing page made from scratch</p>
          </div>
        </div>
      </a>
      <a href="http://antoine-paul.com/" target="_blank" class="item">
        <div class="shade">
          <div class="logo">
            <img src="/assets/images/shared/LogoAP.svg" alt="">
          </div>
          <div class="description">
            <p class="main-text small">Landing page made from scratch</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
