<section id="experience" class="dark">
  <div class="wrapper">
    <h2>Experience 📈</h2>
    <div class="content">
      <div class="step" data-aos="fade-in" data-aos-once="true">
        <div class="body" data-aos="fade-left" data-aos-once="true">
          <div class="title">Lead developer</div>
          <div class="company">Adimeo</div>
          <div class="date">oct. 2016 - present</div>
          <div class="location">Paris</div>
          <div class="description">
            <p>
              Développement Full Stack.
            </p>
            <ul>
              <li>Développement d'un site E-commerce en Nodejs (Express) de A à Z avec toutes les intégrations nécessaires (Paiement avec Paybox, Stocks, Facturation avec Soap, Recherche avec Elastic Search)</li>
              <li>Développement front en AngularJS (interfaces de site classique, dont le site E-commerce et Single page apps pour mobile)</li>
              <li>Développement back complet de sites en Drupal 8</li>
              <li>Intégration responsive de sites en Drupal 8 et from scratch avec SASS et jQuery (+Gulp/Grunt)</li>
              <li>Formation de juniors</li>
              <li>Gestion d'une équipe de développeurs en méthode Agile</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="step" data-aos="fade-in" data-aos-once="true">
        <div class="body" data-aos="fade-left" data-aos-once="true">
          <div class="title">DUT Informatique</div>
          <div class="company">Universite de lorraine</div>
          <div class="date">2011 - 2013</div>
          <div class="location">Saint die des vosges</div>
          <div class="description">
            <p>
              Développement Full Stack.
            </p>
            <ul>
              <li>Développement d'un site E-commerce en Nodejs (Express) de A à Z avec toutes les intégrations nécessaires (Paiement avec Paybox, Stocks, Facturation avec Soap, Recherche avec Elastic Search)</li>
              <li>Développement front en AngularJS (interfaces de site classique, dont le site E-commerce et Single page apps pour mobile)</li>
              <li>Développement back complet de sites en Drupal 8</li>
              <li>Intégration responsive de sites en Drupal 8 et from scratch avec SASS et jQuery (+Gulp/Grunt)</li>
              <li>Formation de juniors</li>
              <li>Gestion d'une équipe de développeurs en méthode Agile</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="call-to-action">
    <a class="button" href="https://www.linkedin.com/in/paul-antoine-183707121/" target="_blank">LinkedIn Profile</a>
  </div>
</section>
