<section id="about" class="dark">
  <div class="bg"></div>
  <div class="wrapper">
    <div class="thumbnail">
      <img src="/assets/images/shared/avatar.png" alt="">
    </div>
    <div class="typing-indicator shade">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="body">
      <div class="inside shade">
        <h2>Hello ! 😀</h2>
        <p class="main-text medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores blanditiis, consequatur cum enim et in, maxime minus nesciunt, nisi placeat quibusdam quis quos repellat reprehenderit soluta tenetur voluptas! Culpa?</p>
        <div class="objectives">
          <ul>
            <li class="intuitive">
              <div class="icon"><img src="/assets/images/shared/lightbulb.svg" alt="lightbulb"></div>
              <div class="title">Intuitive</div>
            </li>
            <li class="fast">
              <div class="icon"><img src="/assets/images/shared/shutter_speed.svg" alt="shutter speed"></div>
              <div class="title">Fast</div>
            </li>
            <li class="responsive">
              <div class="icon"><img src="/assets/images/shared/mobile_friendly.svg" alt="mobile friendly"></div>
              <div class="title">Responsive</div>
            </li>
            <li class="dynamic">
              <div class="icon"><img src="/assets/images/shared/star_border.svg" alt="star border"></div>
              <div class="title">Dynamic</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="highlighted">
    <img src="/assets/images/shared/featured_wordmarks.svg" alt="">
  </div>
</section>
